/* HEADER */
.btn-lilac{
    background-color: rgba(142,85,251,1);
    color: bisque;
}

.btn-font-size{
    font-size: 0.8rem;
}

/* Our Approach */
.icon-transparent{    
    color: transparent;
    background-clip:text;
    -webkit-background-clip: text;
}

.card{
    border: 0;
}

.bg{    
    border-radius: 99em;
    color: white;
    display: inline-block;   
    height: 4.2rem;
    width: 4.2rem;    
}

.bg11{
    background: linear-gradient(135deg, rgb(241, 148, 76) , rgb(238, 191, 130));    
}

.bg12{
    background: linear-gradient(135deg, rgba(19,204,214,1), rgba(14,222,202,1));    
}

.bg13{
    background: linear-gradient(135deg, rgba(159,99,249,1), rgb(247, 202, 244));    
}

.hatterpotty{    
    background-image: url("../assets/kepek/kispontok.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;    
}

/* Attractiv Animations */
.bg-lilac{
    background-color: rgba(248,242,254,1);
}

.bg2{    
    border-radius: 10px;
    color: white;
    height: 4rem;
    display: inline-block;   
    width: 4rem;    
}

.bg21{
    background: linear-gradient(135deg,rgba(159,104,249,1), rgba(237,179,220,1)); 
}

.bg22{
    background: linear-gradient(135deg, rgba(254,100,188,1), rgba(242,203,228,1));    
}

.bg23{
    background: linear-gradient(135deg, rgba(255,109,146,1), rgba(252,231,240,1));    
}

.bg24{
    background: linear-gradient(135deg, rgba(80,201,196,1), rgba(192,250,241,1));    
}

.progress{
    height: 0.2rem;
}

.bg-lilac-button{
    background-color: rgba(238, 221, 253, 0.6);
    
}
.text-lilac{
    color: rgba(142,85,251,1) !important;
}

.rectangle{
    background-color: rgba(191,254,243,1);
    border: 12px solid rgba(243,238,246,1);    
    height: 80vw;
    left: 2rem;        
    position: absolute;
    top: 2rem;    
    width: 80vw;
}

.rectangle-shadow{
    background: linear-gradient(215deg, rgba(191,254,243,1), rgba(134,96,209,1));   
    height: 80vw;
    margin-top: 2rem;
    position: relative;
    width: 80vw;
}

@media only screen and (min-width: 992px){
    .rectangle{           
        height: 30rem;        
        width: 30rem;
    }
    .rectangle-shadow{        
        height: 30rem;
        margin-top: -6rem;
        width: 30rem;
    }
}

/* Check out ..*/
.header-height{
    height: 8rem;
}

.bg-lilac-header{
    background: linear-gradient(to right, rgba(149,177,250,1), rgba(141,86,252,1));
}

.height80{
    height: 80vh;
}

.bg-image{
    background-color: black;
    background-image: url("../assets/kepek/Ellipse_lilac.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;     
    height: 80vh;
}

.ring{    
    display: none;    
}

@media only screen and (min-width: 992px){
    .ring{        
    border: 8px solid rgb(255, 209, 183);
    display: inline-block;
    border-radius: 50em;
    padding: 0.8rem;
    position: relative;
    left: 7rem;
    top: 32rem;         
    }
}

/* Featured works */
.rectangle-gray{
    background-color: rgba(240,239,237,1);      
    height: 5rem;    
    width: 5rem;
}

.rectangle-gray-dark{
    background-color: rgba(231,231,231,1);        
    height: 5rem;    
    width: 5rem;
}

.rectangle-gray:hover, .rectangle-gray-dark:hover{
    background-color: rgba(188,164,242,1);    
}

@media only screen and (min-width: 992px){
    .rectangle-gray, .rectangle-gray-dark{     
        height: 27rem;    
        width: 27rem;
    }
}

.hover-text{
    display: none;
}

.rectangle-gray:hover+div, .rectangle-gray-dark:hover+div{
    display: block;    
}

/* Simplified process */
.rectangle2{
    background-color: rgba(254,232,245,1);    
    height: 15rem;   
    margin: 1rem; 
    width: 15rem;
}

@media only screen and (min-width: 992px){
    .rectangle2{                     
        height: 25rem;    
        width: 25rem;
    }
}

.rectangle01{
    background-color: rgba(239,136,254,1);     
    padding: 5rem 2rem;    
}

.rectangle02{
    background-color:rgba(0,215,207,1);     
    padding: 5rem 2rem;
}

.rectangle03{
    background-color:rgba(241,183,110,1);     
    padding: 5rem 2rem;
}

.rectangle04{
    background-color: rgba(90,196,254,1); 
    padding: 5rem 2rem;
}

.bg-lilac-dark{
    background-color: rgba(141,91,252,1);
}

.header-color{    
    color: #ffe4c4;
}

.ring2{    
    display: none;    
}

@media only screen and (min-width: 992px){
    .ring2{        
    border: 6px solid rgb(252, 148, 122);
    display: inline-block;
    border-radius: 50em;
    padding: 0.5rem;
    position: relative;
    left: 7rem;
    top: 27rem;         
    }
}

/* Strength in numbers workspace */
.bg-houses{    
    background-image: url("../assets/kepek/strength_2.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    /* opacity: 0.2; */
}

.bg-houses2{    
    background-image: url("../assets/kepek/grup_building2.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    /* opacity: 0.2; */
}

.circle{    
    border-radius: 99em;
    height: 4rem;
    display: inline-block;
    margin-top: -4rem;   
    width: 4rem;
        
}

.circle1{    
    
    background-color: rgba(243,239,254,1);    
}

.circle2{    
    
    background-color: rgba(255,243,247,1);    
}

.circle3{    
    height: 4rem;
    display: inline-block;   
    width: 4rem;
    background-color: rgba(255,243,235,1);    
}

.circle4{    
    height: 4rem;
    display: inline-block;   
    width: 4rem;
    background-color: rgba(242,255,246,1);    
}

.circle5{    
    border-radius: 99em;
    height: 4.5rem;     
    width: 4.5rem;
        
}

/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */

.negMargin{
    margin-left: -4rem !important;    
}

input{
    height: 4rem;
    margin-top: 2rem;
    width: 25rem;
}

input::placeholder{
    font-size: 1rem;
    padding-left: 1.5rem;
}
