.btn-primary{
    background-color: rgb(179, 113, 179);
}

.icon-blue{
    
    color: transparent;
    background-clip:text;
    -webkit-background-clip: text;
}

.bg{
    
    border-radius: 99em;
    color: white;
    height: 3.3rem;
    display: inline-block;   
    width: 3.3rem;
    
}

.bg2{
    
    border-radius: 10px;
    color: white;
    height: 3.3rem;
    display: inline-block;   
    width: 3.3rem;
    
}

.bg11{
    background: linear-gradient( #eed12b, #f1e2b9);    
}

.bg12{
    background: linear-gradient( #2bee83, #bef1b9);    
}

.bg13{
    background: linear-gradient( #a02bee, #dfb9f1);    
}

.bg21{
    background: linear-gradient( #a02bee, #dfb9f1); 
}

.bg22{
    background: linear-gradient( #ee2bcd, #f1b9da);    
}

.bg23{
    background: linear-gradient( #ee2bcd, #f1b9da);    
}

.bg24{
    background: linear-gradient( #2bee83, #bef1b9);    
}

.card{
    border: 0;
}

.progress{
    height: 0.2rem;
}

.bg-lilac{
    background-color: #b1b7f5;
}

.bg-lilac-button{
    background-color: #8b94f1;
}

.text-primary{
    color: #7a84f3;
}

.rectangle{
    background-color: lightpink;
    border: 7px solid rgb(209, 209, 209);
    box-shadow: -20px -20px #bef1b9;
    height: 30rem;
    margin: -10rem 0 0 5rem;
    width: 30rem;
}

.bg-lilac-header{
    background: linear-gradient(to right, #55b5f5, #cd6ef3);
}

.bg-image{
    background-color: black;
}

.rectangle-gray{
    background-color: rgb(211, 210, 210);  
    display:inline-block;  
    height: 15rem;    
    width: 15rem;
}

.rectangle-gray2{
    background-color: rgb(114, 113, 113);  
    display:inline-block;  
    height: 15rem;    
    width: 15rem;
}

.rectangle-gray:hover, .rectangle-gray2:hover{
    background-color: rgb(216, 129, 250);
    
}

.rectangle2{
    background-color: lightpink;    
    height: 30rem;    
    width: 30rem;
}

.rectangle01{
    background-color: rgb(230, 137, 199);     
    padding: 5rem 2rem;    
}

.rectangle02{
    background-color: rgb(124, 243, 177);     
    padding: 5rem 2rem;
}

.rectangle03{
    background-color: rgb(243, 169, 84);     
    padding: 5rem 2rem;
}

.rectangle04{
    background-color: rgb(49, 238, 252); 
    padding: 5rem 2rem;
}

.bg-lilac2{
    background-color: #bc58ff;
}

.circle{    
    border-radius: 99em;
    height: 4rem;
    display: inline-block;
    margin-top: -4rem;   
    width: 4rem;
        
}

.circle1{    
    
    background-color: #bc70fa;    
}

.circle2{    
    
    background-color: #f8b4ed;    
}

.circle3{    
    height: 4rem;
    display: inline-block;   
    width: 4rem;
    background-color: #d49bf5;    
}

.circle4{    
    height: 4rem;
    display: inline-block;   
    width: 4rem;
    background-color: #d49bf5;    
}



